:root {
    /* Основная палитра */
    --color-primary: #2c3e50;
    --color-primary-hover: #243341;

    --color-accent: #e67e22;
    --color-accent-hover: #cf711c;

    --color-bg-light: #f5f5f5;
    --color-bg-dark: #1a1a1a;

    --color-text: #333333;
    --color-text-light: #ffffff;

    /* Nuxt UI */
    --ui-primary: var(--color-primary);
    --ui-background: var(--color-bg-light);
    --ui-text: var(--color-text);

    /* Дополнительные оттенки */
    --color-gray-dark: #555555;
    --color-gray-light: #bbbbbb;
}
